md-input-container.md-icon-left {
  padding-left: 36px;
  padding-right: 36px;
}

md-input-container:not(.md-input-invalid).md-input-focused .md-input {
  border-color: #1F8EED;
}

md-input-container:not(.md-input-invalid).md-input-focused label {
  color: #1F8EED;
}

md-dialog {
  max-height: 95% !important;
}

.md-dialog-content h2 {
  font-family: "Varela Round", sans-serif !important;
}

md-input-container.md-default-theme .md-input, md-input-container .md-input {
  font-family: "PT Sans", sans-serif;
  font-size: 1rem;
}

.md-button.md-default-theme.md-primary, .md-button.md-primary {
  color: #1F8EED;
}
