@charset "UTF-8";
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

html {
  background: #1a1a1a;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

body {
  margin: 0;
}

a {
  background: transparent;
}
a:focus {
  outline: thin dotted;
}
a:hover, a:active {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

q:before, q:after {
  content: '';
  content: none;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

body, html {
  background-color: #f8f9fe;
  font-size: 14px;
  overflow-x: hidden;
}

*:focus {
  outline: none !important;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media screen and (max-width: 960px) {
  .heading-wrapper {
    padding: 3em 16px !important;
  }
  .heading-wrapper h1 {
    font-size: 2rem !important;
  }
}
.loader-wrapper {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  background: #fff;
  vertical-align: middle;
  text-align: center;
  z-index: 11;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes pulse {
  50% {
    background: #ffffff;
  }
}
.loading {
  margin-top: calc( 50vh - 25px);
  border-radius: 50%;
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 0.25rem solid rgba(0, 0, 0, 0.4);
  border-top-color: #ffffff;
  animation: spin 800ms infinite linear;
}
.loading--double {
  border-style: double;
  border-width: .5rem;
}

a {
  text-decoration: none;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 600px) {
  .container {
    width: 750px;
  }
}
@media screen and (min-width: 960px) {
  .container {
    width: 970px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1170px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    width: 1400px;
  }
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.row-nav {
  height: 5rem;
  width: 100%;
  position: fixed;
  background: #ffffff;
  border-bottom: 1px solid #E0E0E0;
  top: 0;
  z-index: 10;
}
.row-nav .wrapper {
  height: 100%;
}
.row-nav .btn-primary.btn-color {
  color: #ffffff;
  background: #1F8EED;
}
.row-nav .nav-li-items ul li {
  display: inline-block;
  margin: auto 1.4rem;
}
.row-nav .nav-li-items ul li a {
  color: #83888D;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  transition: color .3s ease;
  letter-spacing: 1px;
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  cursor: pointer;
  position: relative;
}
.row-nav .nav-li-items ul li a:hover {
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: #1F8EED;
}

.second-nav li a {
  font-size: 12px !important;
}

.row-nav.home {
  top: 0;
  position: absolute;
  border-bottom: none;
  background: transparent;
}
.row-nav.home .btn-primary.btn-color {
  background: #ffffff;
  color: #1F8EED;
}
.row-nav.home .nav-li-items ul li a {
  color: #ffffff;
}

.btn-circ {
  border-radius: 50px;
  overflow: hidden;
}

.btn {
  border: none;
  color: #fff;
  font-family: inherit;
  padding: 0.50rem 1.1rem;
  margin: 1rem 1.14rem;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  outline: 0;
  position: relative;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
}

.btn-lg {
  padding: 1rem 4rem;
  font-size: 1rem;
  border-radius: 4px;
  font-weight: 700;
}

.btn-secondary {
  background: #ffffff !important;
  color: #1F8EED !important;
  border: 1px solid !important;
}

.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
  cursor: not-allowed;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
  opacity: .65;
}

.ngview {
  position: relative;
  top: 70px;
  min-height: calc(100vh - 70px);
  z-index: 5;
  background: #f8f9fe;
}

.ngview.home {
  position: relative;
  top: 0;
  z-index: inherit;
}

footer {
  font-family: "Varela Round", sans-serif;
  min-height: 200px;
}
footer p {
  text-align: center;
  font-size: 1rem;
  margin: 3rem auto;
  color: #9c9fa4;
}
footer .container {
  max-width: 900px;
  margin-top: 40px;
}
footer .container div {
  margin: 10px;
}
footer .container h3 {
  font-weight: 500;
  text-align: left;
}
footer .container p {
  text-align: left;
  font-size: 1rem;
  margin: 1rem auto;
  line-height: 23px;
}
footer .container a {
  color: #1F8EED;
  margin: 1rem auto;
  line-height: 23px;
}
footer .container ul {
  padding: 0;
}
footer .container ul li {
  display: inline-block;
  margin: auto 1rem;
  text-align: left;
  list-style: none;
  margin: 0;
}
footer .container .icons h3 {
  margin-bottom: 0;
}
footer .container .icons a {
  margin: .5rem;
}
footer .container .icons svg {
  height: 40px;
  width: 40px;
  opacity: 0.7;
}
footer .container .icons a.facebook:hover {
  color: #3b5999;
}
footer .container .icons .twitter:hover {
  color: #55acee;
}
footer .container .icons .linkedin:hover {
  color: #0077B5;
}
footer .container .icons .dribble:hover {
  color: #ea4c89;
}
footer .container .icons .github:hover {
  color: #131418;
}

#section1 {
  height: 100vh;
  overflow: hidden;
  position: relative;
  background: linear-gradient(120deg, #7744f2 0%, #30b4e0 75%);
}
#section1 .btn-color {
  background: #ffffff;
  color: #1F8EED;
  border-radius: 4px;
}
#section1 .select {
  -webkit-touch-callout: initial;
  -webkit-user-select: initial;
  -khtml-user-select: initial;
  -moz-user-select: initial;
  -ms-user-select: initial;
  user-select: initial;
  pointer-events: initial;
  cursor: initial;
}

canvas {
  position: absolute !important;
  top: 0 !important;
  z-index: 2;
}

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  pointer-events: none;
  cursor: default;
  /* Non-prefixed version, currently                            not supported by any browser */
}

.container.hover {
  position: absolute;
  top: 200px;
  z-index: 4 !important;
  width: 100%;
  margin: auto;
  color: #ffffff;
}
.container.hover h5 {
  font-size: 1.3rem;
  margin-bottom: 2rem;
  letter-spacing: 3px;
  font-weight: 500;
}
.container.hover h1 {
  font-size: 2.3rem;
  font-weight: 500;
  margin-top: 0;
  max-width: 800px;
  text-align: center;
  font-family: "Varela Round", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.container.hover p {
  line-height: 1.65em;
  color: #7b8b8e;
  font-family: "Varela Round", sans-serif;
  max-width: 460px;
  text-align: center;
  font-size: 1rem;
  letter-spacing: .016em;
}
@media screen and (max-width: 1440px) {
  .container.hover {
    top: 150px;
  }
  .container.hover h1 {
    font-size: 2rem;
  }
}
@media screen and (max-width: 1280px) {
  .container.hover {
    top: 100px;
  }
  .container.hover h1 {
    font-size: 2rem;
  }
}

.links {
  stroke: none;
  stroke-opacity: 0.2;
  z-index: 1000 !important;
}

#section2 {
  background: #ffffff;
}
#section2 .wave-wrapper {
  margin-top: 20px;
  margin-left: 30px;
  position: relative;
  height: 500px;
  width: 500px;
}
#section2 .wave-wrapper .custom-card {
  position: absolute;
  background: #ffffff;
  z-index: 10;
  font-size: 16px;
  line-height: 27px;
  color: #9da6b8;
  font-family: "Open Sans", sans-serif;
  max-width: 350px;
  padding: 16px;
  font-weight: 300;
  border-radius: 15px;
  box-shadow: 0 2px 64px 0 rgba(208, 208, 208, 0.5);
}
#section2 .wave-wrapper .custom-card i {
  font-size: 26px;
  margin-right: 20px;
  background-image: -webkit-linear-gradient(120deg, rgba(119, 68, 242, 0.8) 0%, rgba(48, 180, 224, 0.6) 75%);
  background-image: linear-gradient(120deg, rgba(119, 68, 242, 0.8) 0%, rgba(48, 180, 224, 0.6) 75%);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 2em;
}
#section2 .wave-wrapper .custom-card.first {
  right: -120px;
  bottom: 80px;
}
#section2 .wave-wrapper .custom-card.second {
  top: 100px;
}
#section2 .wave-wrapper .custom-card.third {
  left: -120px;
  bottom: 50px;
}
#section2 .beat {
  width: 170px;
  height: 170px;
  opacity: 0.6;
  border: 2px solid #1F8EED;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  z-index: 10;
}
#section2 .dot {
  border: 1px solid #1F8EED;
  background: transparent;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  height: 500px;
  width: 500px;
  -webkit-animation: beat 3s ease-out;
  -moz-animation: beat 3s ease-out;
  animation: beat 3s ease-out;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  position: absolute;
  z-index: 1;
  opacity: 0;
}
#section2 .dot2 {
  border: 1px solid #1F8EED;
  background: transparent;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  height: 500px;
  width: 500px;
  -webkit-animation: beat 3s ease-out;
  -moz-animation: beat 3s ease-out;
  animation: beat 3s ease-out;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-delay: 1s;
  /* Safari 4.0 - 8.0 */
  animation-delay: 1s;
  position: absolute;
  z-index: 1;
  opacity: 0;
}
@-moz-keyframes beat {
  0% {
    -moz-transform: scale(0.25);
    opacity: 0.0;
  }
  25% {
    opacity: 0.1;
  }
  50% {
    opacity: 0.3;
  }
  75% {
    opacity: 0.2;
  }
  100% {
    -moz-transform: scale(1);
    opacity: 0.0;
  }
}
@-webkit-keyframes "beat" {
  0% {
    -webkit-transform: scale(0.25);
    opacity: 0.0;
  }
  25% {
    opacity: 0.1;
  }
  50% {
    opacity: 0.3;
  }
  75% {
    opacity: 0.2;
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 0.0;
  }
}
@media screen and (max-width: 960px) {
  #section2 .wave-wrapper {
    margin-left: 0 !important;
  }
  #section2 .wave-wrapper .custom-card {
    position: static !important;
    margin: 20px auto !important;
  }
  #section2 .wave-wrapper .custom-card p {
    font-size: 1rem !important;
  }
  #section2 .wave-wrapper .custom-card p i {
    font-size: 22px !important;
  }
}

#section3 .btn-wrapper {
  padding: 4rem;
}
#section3 .btn-wrapper .btn-color {
  background: #1F8EED;
  border-radius: 4px;
}
#section3 .container {
  position: relative;
  padding-bottom: 100px;
}

.editor-img {
  position: relative;
  top: -300px;
}
.editor-img img {
  height: 500px;
  width: auto;
  -webkit-filter: drop-shadow(12px 12px 25px rgba(0, 0, 0, 0.5));
}
@media screen and (max-width: 1440px) {
  .editor-img {
    top: -220px;
  }
  .editor-img img {
    height: 350px;
  }
}
@media screen and (max-width: 1280px) {
  .editor-img {
    top: -200px;
  }
  .editor-img img {
    height: 300px;
  }
}

.item-card {
  height: 330px;
  width: 280px;
  background: #ffffff;
  margin: auto 2rem;
  box-shadow: 0 2px 9px 0 rgba(208, 208, 208, 0.5);
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
@media screen and (max-width: 960px) {
  .item-card {
    margin: 2rem;
  }
}

.item-card:hover {
  box-shadow: 0 2px 64px 0 rgba(208, 208, 208, 0.5);
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.heading-wrapper {
  padding: 6em;
  font-family: "Varela Round", sans-serif;
}
.heading-wrapper h1 {
  color: #373c46;
  font-family: "Montserrat", sans-serif;
  font-size: 2.3rem;
  font-weight: 600;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.works-column {
  font-family: "Varela Round", sans-serif;
}
.works-column h3 {
  font-weight: 500;
  color: #575963;
  text-align: center;
}
.works-column p {
  text-align: center;
  max-width: 250px;
  margin: auto;
  font-size: 1em;
  line-height: 1.4em;
  color: #83888D;
}

#section4 {
  background: white;
  font-family: "Varela Round", sans-serif;
}
#section4 .container {
  padding-bottom: 100px;
}
#section4 .text-wrapper h3 {
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: #373c46;
  opacity: 0.8;
  margin: 0;
}
#section4 .text-wrapper p {
  font-size: 16px;
  line-height: 27px;
  color: #9da6b8;
  font-weight: 300;
  max-width: 350px;
  font-family: "Open Sans", sans-serif;
}
@media screen and (max-width: 960px) {
  #section4 .text-wrapper h3 {
    margin: 2rem auto;
  }
  #section4 .text-wrapper p {
    margin-bottom: 3rem;
  }
}
@media screen and (max-width: 1440px) {
  #section4 .video-wrapper {
    height: 493px;
  }
}
@media screen and (max-width: 1280px) {
  #section4 .video-wrapper {
    height: 439px;
  }
}
@media screen and (max-width: 960px) {
  #section4 .video-wrapper {
    height: 384px;
  }
}
@media screen and (max-width: 600px) {
  #section4 .video-wrapper {
    height: 219px;
  }
}

.bg-img {
  background-size: cover;
  height: auto;
  background: linear-gradient(120deg, rgba(119, 68, 242, 0.5), rgba(48, 180, 224, 0.5)), url("../images/vid.jpg");
  background-size: 100%;
}
@media screen and (max-width: 1440px) {
  .bg-img {
    width: 900px;
    height: 493px;
  }
}
@media screen and (max-width: 1280px) {
  .bg-img {
    width: 800px;
    height: 439px;
  }
}
@media screen and (max-width: 960px) {
  .bg-img {
    width: 700px;
    height: 384px;
  }
}
@media screen and (max-width: 600px) {
  .bg-img {
    width: 400px;
    height: 219px;
  }
}

.img-overlay {
  height: auto;
  position: absolute;
}
.img-overlay div {
  height: 100px;
  width: 100px;
  background: #ffffff;
  opacity: 0.9;
  border-radius: 50%;
}
.img-overlay div .play-icon {
  height: 35px;
  width: 35px;
}
@media screen and (max-width: 1440px) {
  .img-overlay {
    width: 900px;
    height: 493px;
  }
  .img-overlay .video-embed {
    width: 900px;
    height: 493px;
  }
}
@media screen and (max-width: 1280px) {
  .img-overlay {
    width: 900px;
    height: 506px;
  }
  .img-overlay .video-embed {
    width: 900px;
    height: 506px;
  }
}
@media screen and (max-width: 960px) {
  .img-overlay {
    width: 700px;
    height: 384px;
  }
  .img-overlay .video-embed {
    width: 700px;
    height: 384px;
  }
}
@media screen and (max-width: 600px) {
  .img-overlay {
    width: 400px;
    height: 219px;
  }
  .img-overlay .video-embed {
    width: 400px;
    height: 219px;
  }
}
.img-overlay:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

#section5 .heading-wrapper {
  padding: 2rem;
  border-radius: 7px;
  margin: 4rem auto;
}
#section5 .heading-wrapper h1 {
  font-weight: 300;
  margin-bottom: 3rem;
}
#section5 .heading-wrapper h1 span {
  color: #1F8EED;
}
#section5 .btn-color {
  background: #1F8EED;
}

#section6 {
  background: #ffffff;
}

.timeline ul {
  padding: 50px 0;
}
.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 3px;
  margin: 0 auto;
  padding-top: 50px;
  background: #e8e8e8;
}
.timeline ul li:after {
  content: '';
  position: absolute;
  left: 50%;
  z-index: 22;
  bottom: 0;
  transform: translateX(-50%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #e8e8e8;
}
.timeline ul li:before {
  content: '';
  position: absolute;
  left: 50%;
  z-index: 100;
  background: #1F8EED !important;
  bottom: 5px;
  transform: translateX(-50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.timeline ul li div {
  position: relative;
  bottom: 0;
  width: 400px;
  padding: 15px;
  background: #ffffff;
  z-index: 10;
  font-size: 16px;
  line-height: 27px;
  color: #9da6b8;
  font-family: "Open Sans", sans-serif;
  padding: 16px;
  font-weight: 300;
  border-radius: 15px;
  box-shadow: 0 2px 64px 0 rgba(208, 208, 208, 0.5);
}
.timeline ul li div i {
  font-size: 36px;
  margin: auto 20px auto 0;
  background-image: -webkit-linear-gradient(120deg, rgba(119, 68, 242, 0.8) 0%, rgba(48, 180, 224, 0.6) 75%);
  background-image: linear-gradient(120deg, rgba(119, 68, 242, 0.8) 0%, rgba(48, 180, 224, 0.6) 75%);
  color: transparent;
  -webkit-background-clip: text;
}

.timeline ul li:nth-child(1) {
  background: linear-gradient(120deg, rgba(0, 0, 0, 0) 0%, #e8e8e8 75%);
}

.timeline ul li:nth-child(3) {
  background: linear-gradient(120deg, #e8e8e8 0%, rgba(0, 0, 0, 0) 75%);
  padding-top: 100px;
}
.timeline ul li:nth-child(3):before {
  content: none;
}
.timeline ul li:nth-child(3):after {
  content: none;
}

.timeline ul li:nth-child(odd) div {
  left: 45px;
}

.timeline ul li:nth-child(even) div {
  left: -439px;
}

/* EFFECTS
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.timeline ul li::after {
  transition: background .5s ease-in-out;
}

.timeline ul li div {
  opacity: 1;
  transition: all .5s ease-in-out;
}

.timeline ul li.in-view div {
  transform: none;
  visibility: visible;
  opacity: 1;
}

/* GENERAL MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media screen and (max-width: 900px) {
  .timeline ul li div {
    width: 250px;
  }

  .timeline ul li:nth-child(even) div {
    left: -289px;
    /*250+45-6*/
  }
}
@media screen and (max-width: 600px) {
  .timeline ul li {
    margin-left: 20px;
  }

  .timeline ul li div {
    width: calc(100vw - 91px);
  }

  .timeline ul li:nth-child(even) div {
    left: 45px;
  }
}
#section7 {
  background: linear-gradient(120deg, #7744f2 0%, #30b4e0 75%);
}
#section7 h1 {
  color: #ffffff;
}
#section7 .heading-wrapper {
  padding-bottom: 1rem;
}
#section7 .heading-wrapper p {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
}
#section7 .form-wrapper {
  padding-bottom: 100px;
}
#section7 .custom-input {
  width: 350px;
  display: block;
  border-radius: 4px;
  font-family: "Varela Round", sans-serif;
  border: none;
  padding: 16px;
  background-color: #fff !important;
  -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 100%, #7e5dfb 0%);
  background-position: -350px 0;
  background-size: 350px 100%;
  background-repeat: no-repeat;
  font-size: 16px;
  color: #0e6252;
}
#section7 .custom-input:focus::-webkit-input-placeholder, #section7 .md-input:valid::-webkit-input-placeholder {
  color: #1F8EED;
  font-size: 16px;
}
#section7 .btn-color {
  padding: 1.19rem 4rem;
  color: #ffffff;
  border-radius: 4px;
  border: 1px solid #ffffff;
}

.btn:hover {
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.15);
}

.login-form-wrapper {
  padding: 16px 25px;
  height: auto;
  font-size: 1rem;
  background: #ffffff;
  font-family: "PT Sans", sans-serif;
  width: 330px;
}
.login-form-wrapper .log-in h2 {
  text-transform: uppercase;
  font-family: "Varela Round", sans-serif;
  font-weight: 500;
  font-size: 2em;
}
.login-form-wrapper .btn-primary {
  color: #373c46;
  padding: 0.9rem 1.0rem;
  margin: 1rem;
  text-align: center;
  width: 200px;
}
.login-form-wrapper .btn-primary.btn-color {
  background: #1F8EED;
  color: #ffffff;
}
.login-form-wrapper .btn-wrapper {
  margin: 1.5rem auto;
}
.login-form-wrapper .btn-wrapper .btn-icon {
  width: auto;
}
.login-form-wrapper i {
  font-size: 18px;
}

.data-wrapper {
  font-family: "PT Sans", sans-serif;
  position: relative;
  top: 100px;
}
.data-wrapper nav {
  background: #fff;
}
.data-wrapper .key {
  padding: 16px;
}

.data-rows {
  background: #fff;
}
.data-rows .item-1 {
  background-color: rgba(201, 223, 234, 0.2);
}
.data-rows .loader-wrapper {
  height: inherit;
  width: inherit;
  position: inherit;
}
.data-rows .loading {
  margin: 200px;
}

.editor-nav {
  height: 70px;
  border-bottom: 1px solid #d0d0d0;
  width: 100%;
}

.detail-header {
  max-height: 70px;
  padding: 1em 1.5em;
  font-family: "Varela Round", sans-serif;
}
.detail-header img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-right: 1rem;
}
.detail-header p {
  margin: 0;
  font-size: 1em;
}
.detail-header h2 {
  text-transform: uppercase;
  font-family: "Varela Round", sans-serif;
  font-weight: 500;
  font-size: 1em;
  margin: 0;
}
.detail-header .btn-color {
  font-family: "Varela Round", sans-serif !important;
  background: #1F8EED;
}

.editor-section {
  overflow: hidden;
  height: calc(100vh - 70px);
}

.response-wrapper {
  font-size: 16px;
}
.response-wrapper .response {
  padding: 1em 1.5em;
  font-family: "Varela Round", sans-serif;
  color: #373c46;
}
.response-wrapper .response h2 {
  font-size: 1em;
  margin-top: 20px;
}
.response-wrapper .response ol li {
  margin: .5em 0;
  font-size: 1em;
}
.response-wrapper .response form {
  width: auto;
  background: #ffffff;
  padding: 30px;
}
.response-wrapper .response form md-input-container {
  margin: 40px 0;
}

.breadcrumbs h3 {
  font-weight: 500;
  color: #373c46;
}
.breadcrumbs h3 span {
  color: #83888D;
}
.breadcrumbs h3 i {
  position: relative;
  top: 1px;
  margin: auto 5px;
  font-size: 16px;
  font-weight: 700;
}

.editor-wrapper {
  width: 100%;
}
.editor-wrapper .code-editor {
  height: calc(100% - 70px);
}

.code-execute-panel {
  height: 70px;
  border-bottom: 1px solid #d0d0d0;
}
.code-execute-panel .btn-color {
  margin: 16px;
  background: #1F8EED;
}

.convert-wrapper {
  padding: 1em 1.5em;
  height: calc(100% - 70px);
}
.convert-wrapper .text-editor, .convert-wrapper .python-convert {
  height: 50%;
}
.convert-wrapper .btn-color {
  margin: 16px;
  background: #1F8EED;
}

.search-nav {
  background: #ffffff;
}
.search-nav md-input-container {
  margin-top: 40px;
}
.search-nav md-input-container i {
  font-size: 20px;
}
.search-nav .btn-color {
  background: #1F8EED;
  padding: 0.4rem 1.5rem;
  border-radius: 4px;
  font-size: 1.2rem;
  margin: 2.5rem 2rem;
  max-height: 35px !important;
}

.file-section {
  padding-top: 100px;
  font-family: "PT Sans", sans-serif;
}
.file-section .key {
  padding: 16px 30px;
  color: #83888D;
}
.file-section .key div:first-child {
  color: #373c46;
  font-size: 16px;
}
.file-section .value {
  color: black;
  color: #83888D;
  background: transparent;
  transition: color .3s ease;
}
.file-section .value:hover {
  background: #EEE;
  transition: color .3s ease;
}
.file-section .value div:first-child {
  color: #373c46;
  text-transform: capitalize;
  font-size: 18px;
}
.file-section .value div {
  padding: 16px;
  cursor: pointer;
}
.file-section .active-color {
  height: 18px;
  width: 18px;
  margin: 0 16px;
  border-radius: 50%;
  background: #ef0d33;
  opacity: 0.8;
}
.file-section .active-color.green {
  background: #23E0BA;
}
.file-section .value.item-1 {
  background-color: rgba(201, 223, 234, 0.2);
}
.file-section .value.item-1:hover {
  background: #EEE;
  transition: color .3s ease;
}
.file-section .data-rows .btn-color {
  background: #1F8EED;
  padding: 0.3rem 1.1rem;
  margin: .2rem .7rem;
  border-radius: 4px;
}
.file-section .data-rows i {
  font-size: 28px;
  color: #1F8EED;
  margin: auto 20px auto 0;
}

.error404 {
  width: 100%;
  height: calc(100vh - 70px);
  background: #ffffff;
  overflow: hidden !important;
}
.error404 h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 90px;
  letter-spacing: 20px;
  text-transform: uppercase;
  text-align: center;
  color: #83888D;
  margin: 0px;
  padding: 0px;
}
.error404 h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 20px;
  text-transform: uppercase;
  text-align: center;
  color: #83888D;
  line-height: 50px;
  padding: 0px;
  margin: 0px;
}
.error404 h2 a {
  color: #83888D;
  text-decoration: none;
  border-bottom: 5px solid #83888D;
  margin: 0;
  padding: 0;
}
.error404 h2 a span {
  letter-spacing: 0px !important;
  padding-right: 3px;
}
.error404 h2 a:hover {
  color: #1F8EED;
  border-bottom: 5px solid #1F8EED;
}
.error404 #scene ul {
  width: 100% !important;
  height: 100% !important;
  height: 100vh !important;
  overflow: hidden;
  position: relative;
}
.error404 .text {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%) !important;
  -ms-transform: translateY(-50%) !important;
  transform: translateY(-50%) !important;
  z-index: 3;
  display: block;
}
.error404 .toppattern {
  margin-top: -700px;
  left: -100px !important;
  position: absolute;
  z-index: 2;
}
@media screen and (max-height: 600px) {
  .error404 .toppattern {
    margin-top: -900px;
  }
}
@media screen and (max-height: 960px) {
  .error404 .toppattern {
    margin-top: -850px;
  }
}
.error404 .bottompattern {
  margin-top: 350px;
  left: 900px !important;
  float: right;
  z-index: 1;
}
@media screen and (max-height: 600px) {
  .error404 .bottompattern {
    margin-top: -100px;
  }
}
@media screen and (max-height: 960px) {
  .error404 .bottompattern {
    margin-top: 30px;
  }
}

.papertrade-section {
  min-height: calc(100vh - 70px);
}
.papertrade-section .card {
  width: 400px;
  height: 500px;
  background: #ffffff;
}
.papertrade-section .card p {
  font-size: 16px;
  line-height: 27px;
  color: #373c46;
  font-family: "Open Sans", sans-serif;
}
.papertrade-section .card .btn-color {
  background: #1F8EED;
  border-radius: 4px;
  padding: 1rem 1.1rem;
}
.papertrade-section .card .btn-color p {
  color: #ffffff;
}

.backtest-section {
  min-height: calc(100vh - 70px);
}
.backtest-section .strategy {
  margin: 30px auto;
  padding: 16px;
  max-height: 300px;
  background: #ffffff;
}
.backtest-section .strategy span {
  font-family: "Open Sans", sans-serif;
  color: #83888D;
  font-size: 14px;
}
.backtest-section .strategy p {
  font-size: 16px;
  padding-top: .5rem;
}
.backtest-section .strategy .date-picker {
  margin-top: 50px;
}
.backtest-section p {
  font-size: 16px;
  color: #575963;
  line-height: 27px;
  font-family: "Open Sans", sans-serif;
}
.backtest-section .performance {
  background: #ffffff;
  width: 100%;
}
.backtest-section .performance h2 {
  color: #575963;
  font-family: "Montserrat", sans-serif;
  margin: 3rem auto;
}
.backtest-section .performance div {
  padding: 16px;
  font-family: "PT Sans", sans-serif;
}
.backtest-section .performance div span {
  color: #83888D;
  font-size: 14px;
}
.backtest-section .performance div p {
  font-size: 16px;
  padding-top: .5rem;
}
.backtest-section .performance table {
  border-collapse: collapse;
  width: 80%;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 2rem;
}
.backtest-section .performance td, .backtest-section .performance th {
  /*border: 1px solid #dddddd;*/
  text-align: left;
  padding: 12px;
  font-size: 14px;
  color: #83888D;
}
.backtest-section .performance tr td:nth-child(even) {
  font-family: "PT Sans", sans-serif;
  color: #373c46;
  font-size: 16px;
}

.graph-wrapper canvas {
  position: relative !important;
}
.graph-wrapper .graph {
  background: #ffffff;
  width: 100%;
  padding: 20px;
}
.graph-wrapper .graph h2 {
  color: #575963;
  font-family: "Montserrat", sans-serif;
}
