@import "compass";
@import "partials/variables";
md-input-container.md-icon-left {
    padding-left: 36px;
    padding-right: 36px;
}
md-input-container:not(.md-input-invalid).md-input-focused .md-input {
    border-color: rgba(239, 83, 80, 0.7);
}
md-input-container:not(.md-input-invalid).md-input-focused label {
   color:rgba(239, 83, 80, 0.7);
}
md-dialog {
  max-height: 95% !important;
}
.md-dialog-content h2{
  font-family: $varela !important;
}
md-input-container.md-default-theme .md-input, md-input-container .md-input{
  font-family: $pt-sans;
  font-size: 1.2em;
}
.md-button.md-default-theme.md-primary, .md-button.md-primary{
  color: rgba(239, 83, 80, 0.7);
}
