@charset "UTF-8";
@import "compass";
@import "partials/variables";
@import "partials/normalize";
@import "partials/layout";
@import "partials/mixins";
@font-face {
  font-family:"Input Mono Narrow";
  src: url('../fonts/input_mono_narrow.woff') format('woff');
}
@font-face {
  font-family: "Input Mono Bold";
  src: url('../fonts/input_mono_bold.woff') format('woff');
}
@font-face {
  font-family: "Input Mono Narrow Bold";
  src: url('../fonts/input_mono_narrow_bold.woff') format('woff');
}
body,html{
  font-size: 14px;
  overflow-x: hidden;
}
*:focus {
    outline: none !important;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@media screen and (max-width: $md-break) {
  .heading-wrapper{
    padding: 3em 16px !important;
    h1{
      font-size: 2rem !important;
    }
  }
}
// this is loading wrapper for inde.html page
.loader-wrapper{
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  background: #fff;
  vertical-align: middle;
  text-align: center;
  z-index: 11;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes pulse {
  50% {
    background: $white;
  }
}
.loading {
    margin-top: calc( 50vh - 25px);
    border-radius: 50%;
    display: inline-block;
    width: $base-line-height;
    height: $base-line-height;
    border: .25rem solid $off-white;
    border-top-color: $white;
    animation: spin $spin-duration infinite linear;
  &--double {
    border-style: double;
    border-width: .5rem;
  }
}


a{
  text-decoration: none;
}
// container from bootstrap
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  @media screen and (min-width: $xs-break) {
      width: 750px;
  }
  @media screen and (min-width: $md-break) {
    width: 970px;
  }
  @media screen and (min-width: $lg-break) {
    width: 1170px;
  }
  @media screen and (min-width: $xl-break) {
    width: 1400px;
  }
}
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

// index.html style starts from here

.row-nav{
  height: 5rem;
  width: 100%;
  position: fixed;
  background: #6B80F7;
  // border-bottom: 1px solid #E0E0E0;
  box-shadow: 0 2px 20px 0 rgba(128, 128, 128, 0.5);
  // position: fixed;
  top: 0;
  z-index: 10;
  .wrapper{
    height: 100%;
  }
  .btn-primary.btn-color {
    color: $btn-color;
    background: $white;
  }
  .nav-li-items{
    ul li{
      display: inline-block;
      margin: auto 1.4rem;
      a{
        color: $white;
        // text-transform: uppercase;
        font-size: 16px;
        font-weight: 500;
        text-decoration: none;
        transition: color .3s ease;
        letter-spacing: 1px;
        font-family: $ubuntu;
        line-height: 1.5;
        cursor: pointer;
        position: relative;
        // text-shadow: 2px 2px 1px rgba(0,0,0,.08);
        &:hover{
          @include transition(all 0.3s ease-in-out);
          // color: $hover;
          opacity:1;
        }
      }
    }
  }
}
.logo-wrapper{
  img{
    margin: 10px 20px;;
  }
}
.second-nav  li a{
  font-size: 14px !important;
}
.row-nav.home{
  top:20px;
  position: absolute;
  border-bottom: none;
  background: transparent;
  box-shadow: inherit;
  .btn-primary.btn-color {
    background: #6804F4;
    color: $white;
  }
  .nav-li-items{
    ul li{
      a{
        color: #221e38;
      }
    }
  }
}
.btn-circ {
  border-radius: 50px;
  overflow: hidden;
}
.btn {
    border: none;
    color: #fff;
    font-family: inherit;
    padding: 0.50rem 1.1rem;
    margin: 1rem 1.14rem;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    outline: 0;
    position: relative;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}
.btn-lg{
  padding: 1rem 4rem;
  font-size: 1rem;
  border-radius: 4px;
  font-weight: 700;
}
.btn-secondary{
  background: #ffffff !important;
  color: #1F8EED !important;
  border: 1px solid !important;
}
.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
    cursor: not-allowed;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .65;
}
.ngview{
  position: relative;
  top: 70px;
  min-height: calc(100vh - 70px);
  background-image: url('../images/bg.png');
  z-index: 5;
}
.ngview.home{
  background: linear-gradient(90deg,#895cf2,#ffabf4);
  position: relative;
  top: 0;
  padding-bottom: 1px;
  z-index: inherit;
}

footer{
  background: $white  ;
  font-family: $varela;
  position: relative;
  padding: 20px;
  min-height: 200px;
  p{
    text-align: center;
    font-size: 1rem;
    margin: 3rem auto;
    color: #9c9fa4;
  }
  .container{
    // border-top: 1px solid #dadada;
    max-width: 900px;
    margin-top: 40px;
    div{
      margin: 10px;
    }
    h3{
      font-weight: 500;
      text-align: left;
    }
    p{
      text-align: left;
      font-size: 1rem;
      margin:1rem auto ;
      line-height: 23px;
    }
    a{
      color: #6804f4;
      margin: 1rem auto;
      line-height: 23px;
    }
    ul {
      padding: 0;
        li {
        display: inline-block;
        margin: auto 1rem;
        text-align: left;
        list-style: none;
        margin: 0;
      }
    }
    .icons{
      h3{
        margin-bottom: 0;
      }
      a{
        margin: .5rem;
      }
      svg{
        height: 40px;
        width: 40px;
        opacity: 0.7;
      }
      a.facebook:hover{
        color: #3b5999;
      }
      .twitter:hover{
        color:#55acee;
      }
      .linkedin:hover{
        color: #0077B5;
      }
      .dribble:hover{
        color: #ea4c89;
      }
      .github:hover{
        color: #131418;
      }
    }
  }
}

.schoolLine.lightLine {
  border-color: #f7f1fa;
}
.vLine1, .vLine2, .vLine3, .vLine4, .vLine5 {
  z-index: 0;
  position: absolute;
  top: 0;
  height: 100%;
  border-left: 1px solid;
}
.vLine1 {
  left: 14px;
}
.vLine2 {
  left: 25%;
}
.vLine3 {
  left: 50%;
}
.vLine4 {
  left: 75%;
}
.vLine5 {
    right: 14px;
}
#section1{
  height: calc(100vh - 40px);
  overflow: hidden;
  position: relative;
  top: 20px;
  margin: 0 20px 20px 20px;
  border-radius: 10px;
  background:$white;
  // background: linear-gradient(120deg, #7744f2 0%,  #30b4e0 75%);
  .btn-color{
    background: #6804F4;
    color:$white;
    border-radius: 4px;
  }
  .select{
    -webkit-touch-callout: initial;
    -webkit-user-select: initial;
    -khtml-user-select: initial;
    -moz-user-select: initial;
    -ms-user-select: initial;
    user-select: initial;
    pointer-events: initial;
    cursor: initial;
  }
  img{
    z-index: 5;
  }
}
canvas{
  position: absolute !important;
  top: 0 !important;
  // visibility: hidden;
  // display:none;
  z-index: 2;
}

.btm-border{
  height: 3px;
  width: 100px;
  background: linear-gradient(90deg, #895cf2, #ffabf4);
  margin: 20px auto;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
   -khtml-user-select: none; /* Konqueror */
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none;
  pointer-events: none;
  cursor: default;/* Non-prefixed version, currently                            not supported by any browser */
}
.container.hover {
  // position: absolute;
  height: 600px;
  z-index: 4 !important;
  color: #221e38;
  h5{
    font-size:1.5rem;
    margin-bottom:2rem;
    letter-spacing: 3px;
    font-family: $ubuntu;
    font-weight: 500;
  }
  h1{
    font-size: 50px;
    margin-top:0;
    max-width: 800px;
    font-family: $nunito;
    font-weight: 600;
    color: #221e38;
    text-align: left;
    line-height: initial;
    letter-spacing: 1px;
    z-index: 5;
  }
  p{
    line-height: 1.65em;
    color: $link;
    font-family: $varela;
    max-width: 460px;
    text-align: center;
    font-size: 1rem;
    letter-spacing: .016em;
  }
  @media screen and (max-width: $xl-break) {
    h1{font-size: 3rem;}
  }
  @media screen and (max-width: $lg-break) {
    h1{font-size: 3rem;}
  }
  .btn-color{
    background: #43458b;
    margin: 2rem 0;
  }
}
.links {
  stroke: none;
  stroke-opacity: 0.2;
  z-index: 1000 !important;
}

// section2/ how it works#

#section2{
  margin: 20px;
  h1{
    color: $white;
  }
.wave-wrapper{
  margin-top: 20px;
  margin-left: 30px;
  position: relative;
  height: 500px;
  width: 500px;
  .custom-card{
    position: absolute;
    background: $white;
    z-index: 10;
    font-size: 16px;
    line-height: 27px;
    color: #6e7584;
    font-family: $open-sans;
    max-width: 350px;
    padding: 16px;
    font-weight: 300;
    border-radius: 15px;
    box-shadow: 0 2px 64px 0 rgba(208,208,208,.5);
    i{
      font-size: 26px;
      margin-right: 20px;
      background-image: -webkit-linear-gradient(
        90deg, #895cf2, #ffabf4
      );
      background-image: linear-gradient(
      90deg, #895cf2, #ffabf4
      );
      color:transparent;
      -webkit-background-clip: text;
      background-clip: text;
      font-size: 2em;
    }
  }
  .custom-card.first{
    right: -120px;
    bottom: 80px;
  }
  .custom-card.second{
    top: 100px;
  }
  .custom-card.third{
    max-width: 400px;
    left: -200px;
    bottom: 80px;
  }
}

.beat {
  width: 170px;
  height: 170px;
  opacity: 0.6;
  border: 2px solid white;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  z-index: 10;
}

.dot {
  border: 1px solid white;
  background: rgba(255, 255, 255, 0.27);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  height: 500px;
  width: 500px;
  -webkit-animation: beat 3s ease-out;
  -moz-animation: beat 3s ease-out;
  animation: beat 3s ease-out;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  position: absolute;
  z-index: 1;
  opacity: 0;
}
.dot2 {
  border: 1px solid white;
  background: rgba(255, 255, 255, 0.27);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  height: 500px;
  width: 500px;
  -webkit-animation: beat 3s ease-out;
  -moz-animation: beat 3s ease-out;
  animation: beat 3s ease-out;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-delay: 1s; /* Safari 4.0 - 8.0 */
  animation-delay: 1s;
  position: absolute;
  z-index: 1;
  opacity: 0;
}

@-moz-keyframes beat {
   0% {
      -moz-transform: scale(0.25);
      opacity: 0.0;
   }
   25% {
      // -moz-transform: scale(0.25);
      opacity: 0.1;
   }
   50% {
      // -moz-transform: scale(0.50);
      opacity: 0.3;
   }
   75% {
      // -moz-transform: scale(0.75);
      opacity: 0.2;
   }
   100% {
      -moz-transform: scale(1);
      opacity: 0.0;
   }
}

  @-webkit-keyframes "beat" {
     0% {
        -webkit-transform: scale(0.25);
        opacity: 0.0;
     }
     25% {
        // -webkit-transform: scale(0.25);
        opacity: 0.1;
     }
     50% {
        // -webkit-transform: scale(0.20);
        opacity: 0.3;
     }
     75% {
        // -webkit-transform: scale(0.75);
        opacity: 0.2;
     }
     100% {
        -webkit-transform: scale(1);
        opacity: 0.0;
     }
  }
  @media screen and (max-width: $md-break) {
    .wave-wrapper{
      margin-left: 0 !important;
      .custom-card{
        position: static !important;
        margin: 20px auto !important;
        p{
          font-size: 1rem !important;
          i{
            font-size: 22px !important;
          }
        }
      }
    }
  }
}

#section3{
  background: $white;
  margin: 20px;
  border-radius: 10px;
  // max-height: 950px;
  .btn-wrapper{
    padding:4rem;
    .btn-color{
      background:$btn-color;
      border-radius: 4px;
    }
  }
  .container{
    position: relative;
    // top: -350px;
    // @media screen and (max-width: $xl-break) {
    //   top: -220px;
    // }
    // @media screen and (max-width: $lg-break) {
    //   top: -200px;
    // }
  }

}

.editor-img{
  position: relative;
  top: -300px;
  img{
    height: 500px;
    width: auto;
    -webkit-filter: drop-shadow(12px 12px 25px rgba(0,0,0,0.5));
  }
  @media screen and (max-width: $xl-break) {
    top: -220px;
    img{
      height: 350px;
    }
  }
  @media screen and (max-width: $lg-break) {
    top: -200px;
    img{
      height: 300px;
    }
  }
}
.item-card{
  height: 330px;
  width: 280px;
  z-index: 5;
  margin: auto 2rem;
  // box-shadow: 0 2px 9px 0 rgba(208, 208, 208, 0.5);
  @include transition(all 0.3s ease-in-out);
  @media screen and (max-width: $md-break) {
    margin: 2rem;
  }
}
.item-card:hover{
  // box-shadow: 0 2px 64px 0 rgba(208,208,208,.5);
  @include transition(all 0.3s ease-in-out);
}
.heading-wrapper{
  padding: 6em;
  font-family: $varela;
  h1{
    color:#32325d;
    z-index: 5;

    font-family: $montserrat;
    font-size: 2.3rem;
    font-weight: 600;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    // text-shadow: 6px 6px 6px rgba(85, 138, 187, 0.2);
    letter-spacing: 2px;
  }
}
.works-column{
  font-family: $varela;
  h3{
    font-weight: 500;
    font-size: 1.5rem;
    color: #32325d;
  }
  p{
    max-width: 250px;
    font-size:1em;
    line-height: 1.4em;
    color: #6b7c93;
  }
  #rocket-icon{
    // width: 75px;
    margin-left: -11px;
    transform: rotate(-45deg);
  }
}
.main .stripes{
  // position: absolute;
  z-index: -1;
  width: 100%;
  display: grid;
  transform: skewY(-12deg);
  height: 100%;
  grid: repeat(2,200px)/1fr minmax(0,1000px) 1fr;
  -ms-flex-line-pack: justify;
  align-content: space-between;
  background: linear-gradient(100grad,#545fdd,#6772e5 50%);
  @media screen and (min-width: 670px) {
    height: calc(100% - 120px);
  }
  span{

    &:nth-child(1) {
      grid-column: 2;
      background: linear-gradient(100grad,rgba(41,50,205,0) 70%,rgba(41,50,205,.5));
    }
    &:nth-child(2) {
      background: linear-gradient(100grad,#76eea7,#4acf8c);
    }
    &:nth-child(3){
      grid-row: 2;
    background: linear-gradient(100grad,#6adaff,rgba(106,218,255,.7));
    }
  }
}
#section4{
  h1{
    color: $white;
  }
  font-family: $varela;
  .container{
    padding-bottom: 100px;
  }
  .text-wrapper{
    h3{
      font-size: 2rem;
      font-family: $montserrat;
      font-weight: bold;
      color: #373c46;
      opacity: 0.8;
      margin: 0;
    }
    p{
      font-size: 16px;
      line-height: 27px;
      color: #9da6b8;
      font-weight: 300;
      max-width: 350px;
      font-family: $open-sans;
    }
    @media screen and (max-width: $md-break) {
      h3{
        margin: 2rem auto;
      }
      p{
        margin-bottom: 3rem;
      }
    }
  }
  .video-wrapper{
    @media screen and (min-width: $xs-break) {
      height: 219px;
    }
    @media screen and (min-width: $md-break) {
      height: 384px;
    }
    @media screen and (min-width: $lg-break) {
      height: 439px;
    }
    @media screen and (min-width: $xl-break) {
      height: 500px;
    }
  }
}
.bg-img {
  background-size: cover;
  height: auto;
  border-radius: 10px;
  background:
    /* top, transparent red, faked with gradient */
    linear-gradient(
      120deg,
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 1)
    ),
    url('../images/vid.jpg');
      background-size: 100%;
      // $xs-break:600px;
      // $sm-break:768px;
      // $md-break:960px;
      // $lg-break:1280px;
      // $xl-break:1440px;
    @media screen and (min-width: $xl-break) {
      width: 900px;
      height: 493px;
    }
    @media screen and (max-width: $xl-break) {
      width: 900px;
      height: 493px;
    }
    @media screen and (max-width: $lg-break) {
      width: 800px;
      height: 439px;
    }
    @media screen and (max-width: $md-break) {
      width: 700px;
      height: 384px;
    }
}
.img-overlay{
  height: auto;
  border-radius: 10px;
  position: absolute;
  div{
    @include transition(all 0.3s ease-in-out);
    height: 100px;
    width: 100px;
    background:#6804f4;
    opacity: 0.6;
    border-radius: 50%;
    .play-icon{
      @include transition(all 0.3s ease-in-out);
      height: 35px;
      width: 35px;
    }
  }
  @media screen and (min-width: $xl-break) {
    width: 900px;
    height: 493px;
    .video-embed{
      width: 900px;
      height: 493px;
    }
  }
  @media screen and (max-width: $xl-break) {
    width: 900px;
    height: 493px;
    .video-embed{
      width: 900px;
      height: 493px;
    }
  }
  @media screen and (max-width: $lg-break) {
    width: 800px;
    height: 439px;
    .video-embed{
      width: 800px;
      height: 439px;
    }
  }
  @media screen and (max-width: $md-break) {
    width: 700px;
    height: 384px;
    .video-embed{
      width: 700px;
      height: 384px;
    }
  }
  @media screen and (max-width: $xs-break) {
    width: 400px;
    height: 219px;
    .video-embed{
      width: 400px;
      height: 219px;
    }
  }
  &:hover > div{
    height: 150px;
    width: 150px;
    background:#6804f4;
    opacity: 1;
    border-radius: 50%;
    @include transition(all 0.3s ease-in-out);
    .play-icon{
      height: 50px;
      width: 50px;
      @include transition(all 0.3s ease-in-out);
    }
    // background-color: rgba(0, 0, 0, 0.2);
  }
}
#section5{
  background: $body-backgorund;
  .heading-wrapper{
    // box-shadow: 0 2px 9px 0 rgba(208, 208, 208, 0.5);
    padding: 6rem 0;
    border-radius: 7px;
    // max-width: 700px;
    // background: white;
    // margin: 4rem auto;
    h1{
      font-weight: 300;
      margin-bottom:  3rem;
      span{
        color: $btn-color;
      }
    }
  }
  .btn-color{
    background: $btn-color;
  }
}
#section6{
  background: $white;
  margin: 20px;
  border-radius: 10px;
  .container{
    position: relative;
    padding-bottom: 100px;
    // top: -350px;
    // @media screen and (max-width: $xl-break) {
    //   top: -220px;
    // }
    // @media screen and (max-width: $lg-break) {
    //   top: -200px;
    // }
  }
}
.timeline ul {
  padding: 50px 0;
  li {
    list-style-type: none;
    position: relative;
    width: 3px;
    margin: 0 auto;
    padding-top: 50px;
    background: #e8e8e8;
    &:after{
      content: '';
      position: absolute;
      left: 50%;
      z-index: 22;
      bottom: 0;
      transform: translateX(-50%);
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background: #e8e8e8;
    }
    &:before{
      content: '';
      position: absolute;
      left: 50%;
      z-index: 100;
      background: $btn-color !important;
      bottom: 5px;
      transform: translateX(-50%);
      width: 10px;
      height: 10px;
      border-radius: 50%;
    }
    div {
      position: relative;
      bottom: 0;
      width: 400px;
      padding: 15px;
      background: $white;
      z-index: 10;
      font-size: 16px;
      line-height: 27px;
      color: #9da6b8;
      font-family: $open-sans;
      padding: 16px;
      font-weight: 300;
      border-radius: 15px;
      box-shadow: 0 2px 64px 0 rgba(208,208,208,.5);
      i{
        font-size: 36px;
        margin: auto 20px auto 0;
        background-image: -webkit-linear-gradient(
        90deg, #895cf2, #ffabf4
        );
        background-image: linear-gradient(
        90deg, #895cf2, #ffabf4
        );
        color:transparent;
        -webkit-background-clip: text;
      }
    }
  }
}
.timeline ul li:nth-child(1){
  background: linear-gradient(120deg, rgba(0,0,0,0) 0%, #e8e8e8 75%);
}
.timeline ul li:nth-child(3){
  background: linear-gradient(120deg, #e8e8e8 0%, rgba(0,0,0,0) 75%);
  padding-top: 100px;
  &:before{
    content: none;
  }
  &:after{
    content: none;
  }
}
.timeline ul li:nth-child(odd) div {
  left: 45px;
}

// .timeline ul li:nth-child(odd) div::before {
//   left: -15px;
//   border-width: 8px 16px 8px 0;
//   border-color: transparent #F45B69 transparent transparent;
// }

.timeline ul li:nth-child(even) div {
  left: -439px;
}
//
// .timeline ul li:nth-child(even) div::before {
//   right: -15px;
//   border-width: 8px 0 8px 16px;
//   border-color: transparent transparent transparent #F45B69;
// }

/* EFFECTS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline ul li::after {
  transition: background .5s ease-in-out;
}


.timeline ul li div {
  opacity: 1;
  transition: all .5s ease-in-out;
}

.timeline ul li:nth-child(odd) div {
  // transform: translate3d(200px, 0, 0);
}

.timeline ul li:nth-child(even) div {
  // transform: translate3d(-200px, 0, 0);
}

.timeline ul li.in-view div {
  transform: none;
  visibility: visible;
  opacity: 1;
}


/* GENERAL MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media screen and (max-width: 900px) {
  .timeline ul li div {
    width: 250px;
  }
  .timeline ul li:nth-child(even) div {
    left: -289px;
    /*250+45-6*/
  }
}

@media screen and (max-width: 600px) {
  .timeline ul li {
    margin-left: 20px;
  }
  .timeline ul li div {
    width: calc(100vw - 91px);
  }
  .timeline ul li:nth-child(even) div {
    left: 45px;
  }
  // .timeline ul li:nth-child(even) div::before {
  //   left: -15px;
  //   border-width: 8px 16px 8px 0;
  //   border-color: transparent #F45B69 transparent transparent;
  // }
}
#section7{
  margin: 20px;
  border-radius: 10px;
  background: #221e38;
  h1{
    color: $white;
  }
  .heading-wrapper{
    padding-bottom: 1rem;
    p{
      color: $white;
      font-family: $montserrat;
    }
  }
  .form-wrapper{
    padding-bottom: 100px;
  }
  .custom-input {
      width: 350px;
      display: block;
      border-radius: 4px;
      font-family: $varela;
      border: none;
      padding: 16px;
      background-color: #fff !important;
      -webkit-transition: all .3s cubic-bezier(.64,.09,.08,1);
      transition: all .3s cubic-bezier(.64,.09,.08,1);
      background: linear-gradient(to bottom,rgba(255,255,255,0) 100%,#7e5dfb 0%);
      background-position: -350px 0;
      background-size: 350px 100%;
      background-repeat: no-repeat;
      font-size: 16px;
      color: #0e6252;
  }
  .custom-input:focus::-webkit-input-placeholder, .md-input:valid::-webkit-input-placeholder{
     color:#1F8EED;
     font-size: 16px;
   }
   .btn-color{
     padding: 1.19rem 4rem;
     color: $white;
     border-radius: 4px;
     border:1px solid $white;
   }
}








// signup cards
.btn:hover{
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.15);
}
.login-form-wrapper{
  padding: 16px 25px;
  height: auto;
  overflow: hidden;
  font-size: 1rem;
  background:$white;
  font-family: $pt-sans;
  width:330px;
  .log-in h2{
    text-transform: uppercase;
    font-family: $varela;
    font-weight: 500;
    font-size: 2em;
  }
  .loader-wrapper{
    height: 100%;
    width: 330px;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    background:rgba(255,255,255,0.6);
    vertical-align: middle;
    text-align: center;
    z-index: 11;
  }
  .btn-primary{
    color:$tundora;
    padding: 0.9rem 1.0rem;
    margin: 1rem;
    text-align: center;
    width: 200px;
  }
  .btn-primary.btn-color {
    background: $btn-color;
    color: $white;
  }
  .btn-wrapper{
    margin: 1.5rem auto;
    .btn-icon{
      width: auto;
    }
  }
  i{
    font-size:18px;
  }
}

// data.html starts from here
.data-wrapper{
  font-family: $pt-sans;
  position: relative;
  top: 100px;
  nav{
    background:#fff;
  }
  .key{
    padding: 16px;
  }
}
.data-rows{
  background: #fff;
  .value{
    // padding: 16px;
  }
  .item-1{
    background-color: rgba(201, 223, 234, 0.2);
  }
  .loader-wrapper{
    height: inherit;
    width: inherit;
    position: inherit;
  }
  .loading{
    margin: 200px;
  }
}

// editor.html is starts from here
.editor-nav{
  height: 70px;
  border-bottom: 1px solid #d0d0d0;
  width: 100%;
}
.detail-header{
  max-height:70px;
  padding: 1em 1.5em;
  font-family: $varela;
  // box-shadow: 7px 5px 20px 6px #d0d0d0;
  img{
    height: 50px;
    width: 50px;
    // position: relative;
    // top: -8px;
    border-radius: 50%;
    margin-right: 1rem;
  }
  p{
    margin: 0;
    font-size: 1em;
  }
  h2{
    text-transform: uppercase;
    font-family: $varela;
    font-weight: 500;
    font-size: 1em;
    margin: 0;
  }
  .btn-color{
    font-family: $varela !important;
    background:$btn-color;
  }
}

.editor-section{
  overflow: hidden;
  height: calc(100vh - 70px);
}
.response-wrapper{
  font-size: 16px;

  // border-left: 1px solid #bdbdbd;

  .response{
    padding: 1em 1.5em;
    font-family: $varela;
    color: $tundora;
    h2{
      font-size: 1em;
      margin-top: 20px;
    }
    ol li{
      margin:.5em 0;
      font-size: 1em;
    }
    form{
      width: auto;
      background: $white;
      padding: 30px;
      box-shadow: 0 2px 64px 0 rgba(208,208,208,.5);
      border-radius: 10px;
      md-input-container{
        margin:  40px 0;
      }
    }
  }
}
.breadcrumbs{
  h3{
    font-weight: 500;
    color: $tundora;
    span{
      color: $aluminium;
    }
    i{
      position: relative;
      top: 1px;
      margin: auto 5px;
      font-size: 16px;
      font-weight: 700;
    }
  }
}
.editor-wrapper{
  width: 100%;
  .code-editor{
    height: calc(100% - 70px);
  }
}
.code-execute-panel{
  height: 70px;
  border-bottom: 1px solid #d0d0d0;
  .btn-color{
    margin: 16px;
    background:$btn-color;
  }
}
.convert-wrapper{
  padding: 1em 1.5em;
  height: calc(100% - 70px);
  .text-editor, .python-convert{
    height: 50%;
  }
  .btn-color{
    margin: 16px;
    background:$btn-color;
  }
}

// file.html starts from here
.search-nav{
  background: $white;
  md-input-container{
    margin-top: 40px;
    i{
      font-size: 20px;
    }
  }
  .btn-color{
    background: #1F8EED;
    padding: 0.4rem 1.5rem;
    border-radius: 4px;;
    font-size: 1.2rem;
    margin: 2.5rem 2rem;
    max-height: 35px !important;
  }
}
.file-section{
  padding-top: 2rem;
  font-family: $pt-sans;
  .key{
    padding: 16px 30px;
      color:$aluminium;
      div:first-child{
        color: $tundora;
        font-size: 16px;
      }
  }
  .value{
    color: black;
    color:$aluminium;
    background: transparent;
    transition: color .3s ease;
    &:hover{
      background: #EEE;
      transition: color .3s ease;
    }
    div:first-child{
      color: $tundora;
      text-transform: capitalize;
      font-size: 18px;
    }
    div{
      padding:16px;
      cursor: pointer;
    }
  }
  .active-color{
    height: 18px;
    width: 18px;
    margin: 0 16px;
    border-radius: 50%;
    background:#ef0d33;
    opacity: 0.8;
  }
  .active-color.green{
    background:#23E0BA;
  }
  .value.item-1{
    background-color: rgba(201, 223, 234, 0.2);
    &:hover{
      background: #EEE;
      transition: color .3s ease;
    }
  }
  .data-rows{
    .btn-color{
      background: $btn-color;
      padding: 0.3rem 1.1rem;
      margin: .2rem .7rem;
      border-radius: 4px;
    }
    i{
      font-size: 28px;
      color: #1F8EED;
      margin: auto 20px auto 0;
    }
  }
}

// error.html starts from here
.error404{
  width: 100%;
  height: calc(100vh - 70px);
  background: $white;
  overflow: hidden !important;
  h1 {
    font-family: $montserrat;
    font-weight: bold;
    font-size: 90px;
    letter-spacing: 20px;
    text-transform: uppercase;
    text-align: center;
    color: $aluminium;
    margin:0px;
    padding: 0px;
  }
  h2 {
    font-family: $montserrat;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 20px;
    text-transform: uppercase;
    text-align: center;
    color: $aluminium;
    line-height: 50px;
    padding: 0px;
    margin: 0px;
    a {
      color: $aluminium;
      text-decoration:none;
      border-bottom: 5px solid $aluminium;
      margin:0;
      padding:0;
      span{
        letter-spacing:0px!important;
        padding-right:3px;
      }
      &:hover {
        color:$btn-color;
        border-bottom: 5px solid $btn-color;
      }
    }
  }
  #scene ul{
    width: 100% !important;
    height: 100% !important;
    height: 100vh !important;
    overflow: hidden;
    position:relative;
  }
  .text {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%)!important;
    -ms-transform: translateY(-50%)!important;
    transform: translateY(-50%)!important;
    z-index: 3;
    display: block;
  }
.toppattern{
  margin-top:-700px;
  left: -100px !important;
  position:absolute ;
   z-index: 2;
  @media screen and ( max-height:$xs-break ){
    margin-top:-900px;
  }
    @media screen and ( max-height:$md-break ){
      margin-top:-850px;
    }
  }
  .bottompattern{
    margin-top:350px;
    left: 900px!important;
    float: right;
    z-index: 1;
    @media screen and ( max-height:$xs-break ){
      margin-top:-100px;
    }
      @media screen and ( max-height:$md-break ){
      margin-top:30px;
    }
  }
}
.background-overlay{
}
// papertrade.html starts from here
.papertrade-section{
  min-height: calc(100vh - 70px);
  .card{
    box-shadow: 0 2px 64px 0 rgba(208,208,208,.5);
    border-radius: 10px;
    width: 350px;
    height: 450px;
    background: $white;
    .performance{
      border-radius: 0;
      box-shadow: none;
    }
    p{
    font-size: 16px;
    line-height: 27px;
    color: $tundora;
    font-family: "Open Sans", sans-serif;
    }
    .btn-color{
      background:$btn-color;
      border-radius: 4px;
      p{
        color: $white;
      }
      padding: 1rem 1.1rem;
    }
  }
}

// backtest.html starts from here
.backtest-section{
  min-height: calc(100vh - 70px);
  .strategy{
    box-shadow: 0 2px 64px 0 rgba(208,208,208,.5);
    margin: 0px auto 50px;
    border-radius: 10px;
    position: relative;
    top: 20px;
    padding: 16px;
    max-height: 300px;
    background: $white;
    span{
      font-family:$open-sans;
      color: #83888D;
      font-size: 10px;
    }
    p{
      font-size: 16px;
      padding-top: .5rem;
    }
    .date-picker{
      margin-top:2rem;
      .btn-color{
        background: $btn-color;
      }
    }
    .data{
      padding: 10px 10px 0px 10px;
      .share{
        position: relative;
        top: 20px;
        padding: 0 20px;
      }
      .frequency{
        position: relative;
        top: 7px;
        padding: 0 20px;
      }
    }
  }
  p{
    font-size: 16px;
    color:$brightgrey;
    line-height: 27px;
    font-family: "Open Sans", sans-serif;
  }
}
.performance{
  // margin:9px 30px;
  border-radius: 10px;
  box-shadow: 0 2px 64px 0 rgba(208,208,208,.5);
  background: $white;
  width: 100%;
  h2{
    color:$brightgrey;
    font-family: $montserrat;
    margin: 3rem auto;
  }
  div{
    padding: 16px;
    font-family:$pt-sans;
    span{
      color: #83888D;
      font-size: 14px;
    }
    p{
      font-size: 16px;
      padding-top: .5rem;
    }
  }

  table {
    border-collapse: collapse;
    width: 80%;
    font-family: $open-sans;
    margin-bottom: 2rem;
  }

  td, th {
    /*border: 1px solid #dddddd;*/
    text-align: left;
    padding: 12px;
    font-size: 14px;
    color: $aluminium;
  }
  tr{
    td:nth-child(even){
      font-family: $pt-sans;
      color: $tundora;
      font-size: 16px;
    }
  }
}
.graph-wrapper{
  box-shadow: 0 2px 64px 0 rgba(208,208,208,.5);
  margin-right: 30px;
  canvas{
    position: relative !important;
    // height: 320px !important;
    // width: 100% !important;
  }
  .graph{
    background: $white;
    width: 100%;
    padding: 20px;
    h2{
      color:$brightgrey;
      font-family: $montserrat;
    }
  }
}
