@import "compass";
@import "partials/variables";
@import "partials/normalize";
@import "partials/layout";
@import "partials/mixins";
body,html{
  background-color:$body-backgorund;
  font-size: 14px;
}
*:focus {
    outline: none !important;
}
// this is loading wrapper for inde.html page
.loader-wrapper{
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  background: #fff;
  vertical-align: middle;
  text-align: center;
  z-index: 11;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes pulse {
  50% {
    background: $white;
  }
}
.loading {
    margin-top: calc( 50vh - 25px);
    border-radius: 50%;
    display: inline-block;
    width: $base-line-height;
    height: $base-line-height;
    border: .25rem solid $off-white;
    border-top-color: $white;
    animation: spin $spin-duration infinite linear;
  &--double {
    border-style: double;
    border-width: .5rem;
  }
}


a{
  text-decoration: none;
}
// container from bootstrap
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  @media screen and (min-width: $xs-break) {
      width: 750px;
  }
  @media screen and (min-width: $md-break) {
    width: 970px;
  }
  @media screen and (min-width: $lg-break) {
    width: 1170px;
  }
  @media screen and (min-width: $xl-break) {
    width: 1400px;
  }
}
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

// index.html style starts from here

.row-nav{
  height: 5rem;
  width: 100%;
  position: fixed;
  background: $white;
  border-bottom: 1px solid #E0E0E0;
  // position: fixed;
  top: 0;
  z-index: 10;
  .wrapper{
    height: 100%;
  }
  .btn-primary.btn-color {
    color: $white;
    background: $btn-color;
  }
  .nav-li-items{
    ul li{
      display: inline-block;
      margin: auto 1.4rem;
      a{
        color: $aluminium;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 500;
        text-decoration: none;
        transition: color .3s ease;
        letter-spacing: 1px;
        font-family: $montserrat;
        line-height: 1.5;
        cursor: pointer;
        position: relative;
        // text-shadow: 2px 2px 1px rgba(0,0,0,.08);
        &:hover{
          @include transition(all 0.3s ease-in-out);
          color: $hover;
        }
      }
    }
  }
}
.row-nav.home{
  top:0;
  position: absolute;
  border-bottom: none;
  background: transparent;
    .btn-primary.btn-color {
      background: $white;
      color: $btn-color;
    }
  .nav-li-items{
    ul li{
      a{
        color: $white;
      }
    }
  }
}
.btn-circ {
  border-radius: 50px;
  overflow: hidden;
}
.btn {
    border: none;
    color: #fff;
    font-family: inherit;
    padding: 0.50rem 1.1rem;
    margin: 1rem 1.14rem;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    outline: 0;
    position: relative;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}
.btn-lg{
  padding: 1rem 4rem;
  font-size: 1rem;
  border-radius: 4px;
  font-weight: 700;
}

.ngview{
  position: relative;
  top: 70px;
}
.ngview.home{
  position: relative;
  top: 0;
}

footer{
  // background: $footer;
  font-family: $varela;
  min-height: 200px;
  p{
    text-align: center;
    font-size: 1rem;
    margin: 3rem auto;
    color: #9c9fa4;
  }
  .container{
    // border-top: 1px solid #dadada;
    max-width: 900px;
    margin-top: 40px;
    div{
      margin: 10px;
    }
    h3{
      font-weight: 500;
      text-align: left;
    }
    p{
      text-align: left;
      font-size: 1rem;
      margin:1rem auto ;
      line-height: 23px;
    }
    a{
      color: #1F8EED;
      margin: 1rem auto;
      line-height: 23px;
    }
    ul {
      padding: 0;
        li {
        display: inline-block;
        margin: auto 1rem;
        text-align: left;
        list-style: none;
        margin: 0;
      }
    }
    .icons{
      h3{
        margin-bottom: 0;
      }
      a{
        margin: .5rem;
      }
      svg{
        height: 40px;
        width: 40px;
        opacity: 0.7;
      }
      a.facebook:hover{
        color: #3b5999;
      }
      .twitter:hover{
        color:#55acee;
      }
      .linkedin:hover{
        color: #0077B5;
      }
      .dribble:hover{
        color: #ea4c89;
      }
      .github:hover{
        color: #131418;
      }
    }
  }
}
// home.html starts from here
  // text editor scss
#section1{
  height: 100vh;
  overflow: hidden;
  position: relative;
  background:
    /* top, transparent red, faked with gradient */
    linear-gradient(
      120deg,
      rgba(119, 68, 242, 0.8) 0%,
      rgba(48, 180, 224, 0.6) 75%
    ),
    url('../images/desk_items.png') no-repeat right bottom;
  // background: linear-gradient(120deg, #7744f2 0%,  #30b4e0 75%);
  .btn-color{
    background: $white;
    color: $btn-color;
    border-radius: 4px;
  }
  .select{
    -webkit-touch-callout: initial;
    -webkit-user-select: initial;
    -khtml-user-select: initial;
    -moz-user-select: initial;
    -ms-user-select: initial;
    user-select: initial;
    pointer-events: initial;
    cursor: initial;
  }
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
   -khtml-user-select: none; /* Konqueror */
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none;
  pointer-events: none;
  cursor: default;/* Non-prefixed version, currently                            not supported by any browser */
}
.container.hover {
  position: absolute;
  top: 200px;
  z-index: 4 !important;
  width: 100%;
  margin: auto;
  color: $white;
  h5{
    font-size:1.3rem;
    margin-bottom:2rem;
    letter-spacing: 3px;
    font-weight: 500;
  }
  h1{
    font-size: 2.3rem;
    font-weight: 500;
    margin-top:0;
    max-width: 800px;
    text-align: center;
    font-family: $varela;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  p{
    line-height: 1.65em;
    color: $link;
    font-family: $varela;
    max-width: 460px;
    text-align: center;
    font-size: 1rem;
    letter-spacing: .016em;
  }
  @media screen and (max-width: $xl-break) {
    top: 150px;
    h1{font-size: 2rem;}
  }
  @media screen and (max-width: $lg-break) {
    top: 100px;
    h1{font-size: 2rem;}
  }

}
.links {
stroke: none;
stroke-opacity: 0.2;
z-index: 1000 !important;
}

// section2/ how it works#

#section2{
  background: $white;
.wave-wrapper{
  margin-top: 20px;
  margin-left: 30px;
  position: relative;
  height: 500px;
  width: 500px;
  .custom-card{
    position: absolute;
    background: $white;
    z-index: 10;
    font-size: 16px;
    line-height: 27px;
    color: #9da6b8;
    font-family: $open-sans;
    max-width: 350px;
    padding: 16px;
    font-weight: 300;
    border-radius: 15px;
    box-shadow: 0 2px 64px 0 rgba(208,208,208,.5);
    i{
      font-size: 26px;
      margin-right: 20px;
      background-image: -webkit-linear-gradient(
        120deg,
        rgba(119, 68, 242, 0.8) 0%,
        rgba(48, 180, 224, 0.6) 75%
      );
      background-image: linear-gradient(
        120deg,
        rgba(119, 68, 242, 0.8) 0%,
        rgba(48, 180, 224, 0.6) 75%
      );
      color:transparent;
      -webkit-background-clip: text;
      background-clip: text;
      font-size: 2em;
    }
  }
  .custom-card.first{
    right: -120px;
    bottom: 80px;
  }
  .custom-card.second{
    top: 100px;
  }
  .custom-card.third{
    left: -120px;
    bottom: 50px;
  }
}

.beat {
  width: 170px;
  height: 170px;
  opacity: 0.6;
  border: 2px solid $btn-color;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  z-index: 10;
}

.dot {
  border: 1px solid $btn-color;
  background: transparent;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  height: 500px;
  width: 500px;
  -webkit-animation: beat 3s ease-out;
  -moz-animation: beat 3s ease-out;
  animation: beat 3s ease-out;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  position: absolute;
  z-index: 1;
  opacity: 0;
}
.dot2 {
  border: 1px solid $btn-color;
  background: transparent;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  height: 500px;
  width: 500px;
  -webkit-animation: beat 3s ease-out;
  -moz-animation: beat 3s ease-out;
  animation: beat 3s ease-out;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-delay: 1s; /* Safari 4.0 - 8.0 */
  animation-delay: 1s;
  position: absolute;
  z-index: 1;
  opacity: 0;
}

@-moz-keyframes beat {
   0% {
      -moz-transform: scale(0.25);
      opacity: 0.0;
   }
   25% {
      // -moz-transform: scale(0.25);
      opacity: 0.1;
   }
   50% {
      // -moz-transform: scale(0.50);
      opacity: 0.3;
   }
   75% {
      // -moz-transform: scale(0.75);
      opacity: 0.2;
   }
   100% {
      -moz-transform: scale(1);
      opacity: 0.0;
   }
}

  @-webkit-keyframes "beat" {
     0% {
        -webkit-transform: scale(0.25);
        opacity: 0.0;
     }
     25% {
        // -webkit-transform: scale(0.25);
        opacity: 0.1;
     }
     50% {
        // -webkit-transform: scale(0.20);
        opacity: 0.3;
     }
     75% {
        // -webkit-transform: scale(0.75);
        opacity: 0.2;
     }
     100% {
        -webkit-transform: scale(1);
        opacity: 0.0;
     }
  }
}

#section3{
  max-height: 950px;
  .btn-wrapper{
    padding:4rem;
    .btn-color{
      background:$btn-color;
      border-radius: 4px;
    }
  }
  .container{
    position: relative;
    padding-bottom: 100px;
    // top: -350px;
    // @media screen and (max-width: $xl-break) {
    //   top: -220px;
    // }
    // @media screen and (max-width: $lg-break) {
    //   top: -200px;
    // }
  }

}

.editor-img{
  position: relative;
  top: -300px;
  img{
    height: 500px;
    width: auto;
    -webkit-filter: drop-shadow(12px 12px 25px rgba(0,0,0,0.5));
  }
  @media screen and (max-width: $xl-break) {
    top: -220px;
    img{
      height: 350px;
    }
  }
  @media screen and (max-width: $lg-break) {
    top: -200px;
    img{
      height: 300px;
    }
  }
}
.item-card{
  height: 330px;
  width: 280px;
  background: $white;
  margin: auto 2rem;
  box-shadow: 0 2px 9px 0 rgba(208, 208, 208, 0.5);
  @include transition(all 0.3s ease-in-out);
}
.item-card:hover{
  box-shadow: 0 2px 64px 0 rgba(208,208,208,.5);
  @include transition(all 0.3s ease-in-out);
}
.heading-wrapper{
  padding: 6em;
  font-family: $varela;
  h1{
    color: $tundora;
    font-family: $montserrat;
    font-size: 2.3rem;
    font-weight: 600;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
}
.works-column{
  font-family: $varela;
  h3{
    font-weight: 500;
    color: $brightgrey;
    text-align: center;
  }
  p{
    text-align: center;
    max-width: 250px;
    margin: auto;
    font-size:1em;
    line-height: 1.4em;
    color: $aluminium;
  }
}

#section4{
  background: white;
  font-family: $varela;
  .container{
    padding-bottom: 100px;
  }
  .text-wrapper{
    h3{
      font-size: 2rem;
      font-family: $montserrat;
      font-weight: bold;
      color: #373c46;
      opacity: 0.8;
      margin: 0;
    }
    p{
      font-size: 16px;
      line-height: 27px;
      color: #9da6b8;
      font-weight: 300;
      max-width: 350px;
      font-family: $open-sans;
    }
  }
}
.video-wrapper{
  @media screen and (min-width: $lg-break) {
    height: 270px;
  }
  @media screen and (min-width: $xl-break) {
    height: 340px;
  }
}
.bg-img {
  background-size: cover;
  height: auto;
  background:
    /* top, transparent red, faked with gradient */
    linear-gradient(
      120deg,
      rgba(119, 68, 242, 0.5),
      rgba(48, 180, 224, 0.5)
    ),
    url('../images/vid.jpg');
    @media screen and (min-width: $xs-break) {
        width: 300px;
    }
    @media screen and (min-width: $md-break) {
      width: 400px;
      height: 225px;
    }
    @media screen and (min-width: $lg-break) {
      width: 470px;
      height: 265px;
    }
    @media screen and (min-width: $xl-break) {
      width: 600px;
      height: 338px;
    }
}
.img-overlay{
  height: auto;
  position: absolute;
  div{
    height: 100px;
    width: 100px;
    background: $white;
    opacity: 0.9;
    border-radius: 50%;
    .play-icon{
      height: 35px;
      width: 35px;
    }
  }
  @media screen and (min-width: $xs-break) {
      width: 300px;
  }
  @media screen and (min-width: $md-break) {
    width: 400px;
    height: 225px;
    .video-embed{
      width: 400px;
      height: 225px;
    }
  }
  @media screen and (min-width: $lg-break) {
    width: 470px;
    height: 265px;
    div{
      height: 80px;
      width: 80px;
    }
    .video-embed{
      width: 470px;
      height: 265px;
    }
  }
  @media screen and (min-width: $xl-break) {
    width: 600px;
    height: 338px;
    .video-embed{
      width: 600px;
      height: 338px;
    }
  }
  // @include transition(all 0.3s ease-in-out);
  &:hover{
    background-color: rgba(0, 0, 0, 0.2);
    // @include transition(all 0.3s ease-in-out);
  }
}
#section5{
  .heading-wrapper{
    box-shadow: 0 2px 9px 0 rgba(208, 208, 208, 0.5);
    padding: 2rem;
    border-radius: 7px;
    max-width: 700px;
    background: white;
    margin: 4rem auto;
    h1{
      font-weight: 300;
      margin-bottom:  3rem;
      span{
        color: $btn-color;
      }
    }
  }
  .btn-color{
    background: $btn-color;
  }
}
#section6{
  height: 100vh;
  background: $white;
}
#section7{
  background: linear-gradient(120deg, #7744f2 0%,  #30b4e0 75%);
  h1{
    color: $white;
  }
  .heading-wrapper{
    padding-bottom: 1rem;
    p{
      color: $white;
      font-family: $montserrat;
    }
  }
  .form-wrapper{
    padding-bottom: 100px;
  }
  .custom-input {
      width: 350px;
      display: block;
      border-radius: 4px;
      font-family: $varela;
      border: none;
      padding: 16px;
      background-color: #fff !important;
      -webkit-transition: all .3s cubic-bezier(.64,.09,.08,1);
      transition: all .3s cubic-bezier(.64,.09,.08,1);
      background: linear-gradient(to bottom,rgba(255,255,255,0) 100%,#7e5dfb 0%);
      background-position: -350px 0;
      background-size: 350px 100%;
      background-repeat: no-repeat;
      font-size: 16px;
      color: #0e6252;
  }
  .custom-input:focus::-webkit-input-placeholder, .md-input:valid::-webkit-input-placeholder{
     color:#1F8EED;
     font-size: 16px;
   }
   .btn-color{
     padding: 1.19rem 4rem;
     color: $white;
     border-radius: 4px;
     border:1px solid $white;
   }
}








// signup cards
.btn:hover{
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.15);
}
.login-form-wrapper{
  padding: 16px 25px;
  height: auto;
  font-size: 1rem;
  background:$white;
  font-family: $pt-sans;
  width:330px;
  .log-in h2{
    text-transform: uppercase;
    font-family: $varela;
    font-weight: 500;
    font-size: 2em;
  }
  .btn-primary{
    color:$tundora;
    padding: 0.9rem 1.0rem;
    margin: 1rem;
    text-align: center;
    width: 200px;
  }
  .btn-primary.btn-color {
    background: $btn-color;
    color: $white;
  }
  .btn-wrapper{
    margin: 1.5rem auto;
    .btn-icon{
      width: auto;
    }
  }
  i{
    font-size:18px;
  }
}

// data.html starts from here
.data-wrapper{
  font-family: $pt-sans;
  position: relative;
  top: 100px;
  nav{
    background:#fff;
  }
  .key{
    padding: 16px;
  }
}
.data-rows{
  background: #fff;
  .value{
    padding: 16px;
  }
  .item-1{
    background-color: rgba(201, 223, 234, 0.2);
  }
}

// editor.html is starts from here
.editor-nav{
  height: 70px;
  border-bottom: 1px solid #d0d0d0;
  width: 100%;
}
.detail-header{
  max-height:70px;
  padding: 1em 1.5em;
  font-family: $varela;
  // box-shadow: 7px 5px 20px 6px #d0d0d0;
  img{
    height: 50px;
    width: 50px;
    // position: relative;
    // top: -8px;
    border-radius: 50%;
    margin-right: 1rem;
  }
  p{
    margin: 0;
    font-size: 1em;
  }
  h2{
    text-transform: uppercase;
    font-family: $varela;
    font-weight: 500;
    font-size: 1em;
    margin: 0;
  }
  .btn-color{
    font-family: $varela !important;
    background:$btn-color;
  }
}

.editor-section{
  overflow: hidden;
  height: calc(100vh - 70px);
}
.response-wrapper{
  font-size: 16px;
  // border-left: 1px solid #bdbdbd;

  .response{
    padding: 1em 1.5em;
    font-family: $varela;
    color: $tundora;
    h2{
      font-size: 1em;
      margin-top: 20px;
    }
    ol li{
      margin:.5em 0;
      font-size: 1em;
    }
    form{
      max-width: 70%;
      width: auto;
      background: $white;
      padding: 30px;
      md-input-container{
        margin:  40px 0;
      }
    }
  }
}
.breadcrumbs{
  h3{
    font-weight: 500;
    color: $tundora;
    span{
      color: $aluminium;
    }
    i{
      position: relative;
      top: 1px;
      margin: auto 5px;
      font-size: 16px;
      font-weight: 700;
    }
  }
}
.editor-wrapper{
  width: 100%;
  .code-editor{
    height: calc(100% - 70px);
  }
  .code-execute-panel{
    height: 70px;
    border-bottom: 1px solid #d0d0d0;
    .btn-color{
      margin: 16px;
      background:$btn-color;
    }
  }
}
.convert-wrapper{
  padding: 1em 1.5em;
  height: calc(100% - 70px);
  .text-editor, .python-convert{
    height: 50%;
  }
  .btn-color{
    margin: 16px;
    background:$btn-color;
  }
}

// file.html starts from here
.search-nav{
  background: $white;
  md-input-container{
    margin-top: 40px;
    i{
      font-size: 20px;
    }
  }
  .btn-color{
    background: #1F8EED;
    padding: 0.4rem 1.5rem;
    border-radius: 4px;;
    font-size: 1.2rem;
    margin: 2rem .7rem;
    max-height: 25px !important;
  }
}
.file-section{
  padding-top: 100px;
  font-family: $pt-sans;
  .key{
    padding: 16px 30px;
      color:$aluminium;
      div:first-child{
        color: $tundora;
        font-size: 16px;
      }
  }
  .value{
    color: black;
    padding: 16px 30px;
    color:$aluminium;
    background: transparent;
    &:hover{
      background: #EEE;
    }
    div:first-child{
      color: $tundora;
      text-transform: capitalize;
      font-size: 18px;
    }
  }
  .value.item-1{
    background-color: rgba(201, 223, 234, 0.2);
  }
  .data-rows{
    .btn-color{
      background: $btn-color;
      padding: 0.3rem 1.1rem;
      margin: 1rem .7rem;
      border-radius: 4px;
    }
    i{
      font-size: 28px;
      color: #1F8EED;
      margin: auto 20px auto 0;
    }
  }
}
