.DS_Store
# test coverage files
.coverage/

node_modules
npm-debug.log
.sass-cache
dist
bower_components/angular
bower_components/angular-animate
bower_components/angular-aria
bower_components/angular-chart.js
bower_components/angular-material
bower_components/angular-messages
bower_components/angular-route
bower_components/angularfire
bower_components/chart.js
bower_components/firebase
bower_components/jquery
