// color
$behance:#1769ff;
$background:#1a1a1a;
$codgray:#171717;
$dribble:#ea4c89;
$facebook:#3b5998;
$instagram:#405de6;
$linkedin:#0077b5;
$tomato:#ed4040;
$tundora:#484848;
$twitter:#55acee;
$white:#ffffff;
// menu overlay
$color-background: #F5F5F5;
$color-main: #F5F5F5;
$color-hamburger:#212121;
$color-active: #212121;
$color-link: #FFF;
$button-height: 27px;
$button-width: 35px;


// fonts
$varela: 'Varela Round', sans-serif;
$open-sans: 'Open Sans', sans-serif;
$pt-sans: 'PT Sans', sans-serif;
$titanium:'Titillium Web', sans-serif;
