<div class="background-overlay">
  <div flex class="container backtest-section">
    <div layout="column" class="strategy">
      <div flex layout="row" class="data"layout-align="center center">
        <div flex="10">
          <span>Name</span>
          <p>{{selectedFile.name}}</p>
        </div>
        <div flex="15">
          <span>Ticker</span>
          <md-autocomplete
            md-selected-item="selectedFile.ticker"
            md-selected-item-change="selectedItemChange(ticker)"
            md-search-text="searchText"
            md-items="ticker in getTickers(searchText)"
            md-item-text="ticker.symbol"
            placeholder="Search Ticker/Symbol"
            md-no-cache="true">
            <md-item-template>
                <span>{{ticker.symbol}}</span>
                <!-- <span md-highlight-text="searchText" md-highlight-flags="^i">{{ticker.exchange}}</span> -->
            </md-item-template>
            <md-not-found>
                No matches found.
            </md-not-found>
          </md-autocomplete>
        </div>
        <div flex="10" class="share">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Shares</label>
            <input name="shares" ng-model="selectedFile.shares" placeholder="12345" required type="number">
            <div ng-messages="userStrategiesForm.shares.$error" role="alert">
              <div ng-message="required" class="my-message">You must supply a number.</div>
              <div ng-message="pattern" class="my-message">That doesn't look like a valid number.</div>
            </div>
          </md-input-container>
        </div>
        <div flex="15" class="frequency">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Frequency</label>
            <md-select ng-model="selectedFile.trade_frequency">
              <md-option ng-repeat="frequency in frequencies" value="{{frequency}}">
                {{frequency}}
              </md-option>
            </md-select>
          </md-input-container>
        </div>
        <div class="date-picker" flex layout="row" layout-align="center center">
          <md-datepicker ng-model="selectedFile.from" md-placeholder="Start date" md-open-on-focus></md-datepicker>
          <md-datepicker ng-model="selectedFile.to" md-placeholder="End date" md-open-on-focus md-min-date="selectedFile.from"></md-datepicker>
          <a href="" class="btn btn-primary btn-color" ng-click="backtestRun(selectedFile)">Backtest</a>
        </div>
      </div>
    </div>
    <div layout="row" style="border-radius: 10px;">
      <div flex class="graph-wrapper" layout="column">
        <div class="graph " layout="column" layout-align="center center">
          <h2>PnL Vs Time</h2>
          <canvas id="line" class="chart chart-line" chart-data="pnlGraphData" chart-series="series" chart-labels="pnllabels" chart-options="pnloptions"
          chart-dataset-override="pnldatasetOverride" chart-click="onClick">
          </canvas>
        </div>
        <div class="graph " layout="column" layout-align="center center">
          <h2>Order Vs Time</h2>
          <canvas id="bar" class="chart chart-bar" chart-options="orderoptions"
            chart-dataset-override="orderdatasetOverride" chart-data="orderGraphData" chart-labels="orderlabels" chart-series="series">
          </canvas>
          <!-- <canvas id="bar" class="chart chart-bar" chart-data="orderGraphData"
            chart-options="orderoptions" chart-click="onClick">
          </canvas> -->
        </div>
      </div>
      <div flex="35">
        <div class=" performance" layout="column" layout-align="center center">
          <h2>Performance</h2>
          <table>
            <tr>
              <td>Total PnL</td>
              <td>{{0 + performance.pnl}}</td>
            </tr>
            <tr>
              <td>Volatility</td>
              <td>32</td>
            </tr>
            <tr>
              <td>Sharpe ratio</td>
              <td>{{performance.sharpe_ratio}}</td>
            </tr>
            <tr>
              <td>Sortino ratio</td>
              <td>{{performance.sharpe_ratio}}</td>
            </tr>
            <tr>
              <td>Max Drowdown</td>
              <td>{{performance.max_drawdown}}</td>
            </tr>
            <tr>
              <td>Wining Rate</td>
              <td>Dash</td>
            </tr>
            <tr>
              <td>Losing rate</td>
              <td>Dash</td>
            </tr>
            <tr>
              <td>CAGR</td>
              <td>Dash</td>
            </tr>
          </table>
          <md-divider></md-divider>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
md-autocomplete md-autocomplete-wrap{
  box-shadow: none !important;
  border-bottom: 1px solid rgba(0,0,0,0.12);
  height: 30px;
}
md-autocomplete{
  top: 1px;
  height: 30px;
  min-width: 100px;
}
md-autocomplete input:not(.md-input){
  height: 30px;
  line-height: 30px;
}
</style>
