<div flex class="container backtest-section">
  <div layout="column" class="strategy">
    <div flex layout="row" class="data"layout-align="center center">
      <div flex="25">
        <span>Name</span>
        <p>{{selectedFile.name}}</p>
      </div>
      <div flex="25">
        <span>Ticker</span>
        <p>{{selectedFile.ticker.symbol}}</p>
      </div>
      <div flex="25">
        <span>Share</span>
        <p>{{selectedFile.shares}}</p>
      </div>
      <div flex="25">
        <span>Frequency</span>
        <p>{{selectedFile.trade_frequency}}</p>
      </div>
    </div>
    <div class="date-picker" flex layout="row" layout-align="center center">
      <md-datepicker ng-model="selectedFile.from" md-placeholder="Start date" md-open-on-focus></md-datepicker>
      <md-datepicker ng-model="selectedFile.to" md-placeholder="End date" md-open-on-focus md-min-date="selectedFile.from"></md-datepicker>
    </div>
  </div>
  <div layout="row" style="border-radius: 10px;">
    <div flex class="graph-wrapper" layout="column">
      <div class="graph " layout="column" layout-align="center center">
        <h2>Order Vs Time</h2>
        <canvas id="line" class="chart chart-line" chart-data="pnlGraphData" chart-series="series" chart-options="orderoptions"
        chart-dataset-override="orderdatasetOverride" chart-click="onClick">
        </canvas>
      </div>
      <div class="graph " layout="column" layout-align="center center">
        <h2>PnL Vs Time</h2>
        <canvas id="bar" class="chart chart-bar" chart-options="pnloptions"
          chart-dataset-override="pnldatasetOverride" chart-data="orderGraphData" chart-labels="orderlabels" chart-series="series">
        </canvas>
        <!-- <canvas id="bar" class="chart chart-bar" chart-data="orderGraphData"
          chart-options="orderoptions" chart-click="onClick">
        </canvas> -->
      </div>
    </div>
    <div flex="35">
      <div class=" performance" layout="column" layout-align="center center">
        <h2>Performance</h2>
        <table>
          <tr>
            <td>Total PnL</td>
            <td>1023</td>
          </tr>
          <tr>
            <td>Volatility</td>
            <td>32</td>
          </tr>
          <tr>
            <td>Sharpe ratio</td>
            <td>.4</td>
          </tr>
          <tr>
            <td>Sortino ratio</td>
            <td>43</td>
          </tr>
          <tr>
            <td>Max Drowdown</td>
            <td>Giovanni Rovelli</td>
          </tr>
          <tr>
            <td>Wining Rate</td>
            <td>Giovanni Rovelli</td>
          </tr>
          <tr>
            <td>Losing rate</td>
            <td>Giovanni Rovelli</td>
          </tr>
          <tr>
            <td>CAGR</td>
            <td>Giovanni Rovelli</td>
          </tr>
        </table>
        <md-divider></md-divider>
      </div>
    </div>
  </div>
</div>
