<section id="section1" class="coming-soon" layout="column" layout-align="center center">
  <div class="container hover" layout="column" layout-align="center center">
    <img src="images/psylab2.svg" height="70" width="70">
    <h5>PSYLAB.IO</h5>
    <h2>Using Artificial Intelligence to build your trading strategies
    </h2>
    <h3>Find out when we launch</h3>
    <!-- <div class="btn-wrapper" layout="column" layout-align="center center">
      <a ng-href="#section2" class="btn btn-lg btn-primary btn-color" >Know More</a>
    </div> -->
    <div class="form-wrapper" layout-gt-sm="row" layout="column" layout-align="center center">
      <input placeholder="name@email.com" type="email" name="email" class="custom-input" ng-model="signUpemail" required>
      <a href="" class="btn btn-lg btn-primary btn-color" ng-click="signUpNews(signUpemail, $event)">Sign Up</a>
    </div>
    <p>Copyright © 2017 Imba Enterprise Ltd. | All rights reserved</p>
  </div>
</section>
