<div  class="editor-section" layout-gt-sm="row" layout="row">
  <div class="response-wrapper" flex-gt-sm="50" flex="100">
    <div class="response">
      <h2>Instruction</h2>
      <ol>
        <li>  Lorem ipsum dolor sit amet, consectetur adipiscing elit. </li>
        <li>  Maecenas sed hendrerit ex, in consequat erat. Morbi cursus imperdiet</li>
        <li>Enim, et rutrum ipsum auctor vel. Suspendisse </li>
      </ol>
    </div>
  </div>
  <div class="editor-wrapper" flex-gt-sm="50" flex="100">
    <div id='editor' class="code-editor" ui-ace="{
        require: ['ace/ext/language_tools'],
        advanced: {
          enableBasicAutocompletion: true,
          enableLiveAutocompletion: true
        },
        onLoad: aceLoaded,
        onChange: aceChanged,
        theme:'monokai',
        mode: 'python'
      }">
    </div>
    <div class="code-execute-panel" layout="row" layout-align="center center">
      <a href="" class="btn btn-primary btn-color" ng-click="saveExecute()">Execute</a>
      <a href="" class="btn btn-primary btn-color" ng-click="saveFileName()">Save</a>
      <a href="" class="btn btn-primary btn-color" ng-click="deleteFile()">Delete</a>
      <md-select ng-model="selectedFile" md-selected-text="getSelectedFile()">
        <md-optgroup label="Files">
          <!-- <md-option ng-value="file.filename" ng-repeat="file in userFiles">{{file.filename}}</md-option> -->
        </md-optgroup>
      </md-select>
    </div>
  </div>
</div>
<script>
  document.getElementById('editor').style.fontSize='16px';
</script>
