<div class="login-form-wrapper" layout="column">
  <div class="log-in" layout="column" layout-align='center center'>
    <h2>Log In</h2>
  </div>
  <div class="form">
    <form name='myform'>
      <md-input-container class="md-block" flex-gt-sm>
        <label>Email</label>
        <md-icon ><i class="ti-signup ti-user"></i></md-icon>
        <input  placeholder="" name="email" type="email" ng-model="user.email" value="" required >
        <div ng-messages="myForm.email.$error">
          <div ng-message="required">Email is required.</div>
        </div>
      </md-input-container>
      <md-input-container class="md-block" flex-gt-sm>
        <label>Password</label>
        <md-icon ><i class="ti-signup ti-key"></i></md-icon>
        <input  placeholder="" name="password" type="password" ng-model="user.password" value="" required >
        <div ng-messages="myForm.password.$error">
          <div ng-message="required">Password is required.</div>
        </div>
      </md-input-container>
      <div class="btn-wrapper" layout="column" layout-align="center center">
        <a href="" class="btn btn-primary btn-circ btn-color" ng-click="logInUser(user)">Log In</a>
        <div style="padding:30px 30px 0;" layout="column">
          <a href="" ng-click="signUpCard()">Create a New account</a>
          <!-- <a class="forget-txt" href="" ng-click="passwordReset();">Forget password?</a> -->
        </div>
      </div>
    </form>
  </div>

</div>
