<div class="login-form-wrapper" layout="column">
  <div class="log-in" layout="column" layout-align='center center'>
    <h2>Log In</h2>
  </div>
  <div class="form">
    <form name='userForm' novalidate>
      <md-input-container class="md-block">
        <label>Email</label>
        <md-icon ><i class="ti-signup ti-user"></i></md-icon>
        <input required type="email" name="email" ng-model="user.email"
               minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/" />

        <div ng-messages="userForm.email.$error" role="alert">
          <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
            Please enter a valid email
          </div>
        </div>
      </md-input-container>
      <md-input-container class="md-block">
        <label>Password</label>
        <md-icon ><i class="ti-signup ti-key"></i></md-icon>
        <input required type="password" name="password" ng-model="user.password" minlength="8"/>
        <div ng-messages="userForm.password.$error" role="alert">
          <div ng-message-exp="['required', 'minlength']">
            Password is required
          </div>
        </div>
      </md-input-container>
      <div class="btn-wrapper" layout="column" layout-align="center center">
        <button ng-disabled="userForm.$invalid" class="btn btn-primary btn-circ btn-color" ng-click="logInUser(user)">Log In</button>
        <div style="padding-top:8px;" layout="column">
          <button class="btn btn-primary btn-secondary btn-circ btn-color" ng-click="signUpCard()">Sign Up</button>
          <!-- <a class="forget-txt" href="" ng-click="passwordReset();">Forget password?</a> -->
        </div>
      </div>
    </form>
  </div>
</div>
