<div class="background-overlay">
  <div flex class="container papertrade-section" layout="row" layout-align="center center">
    <div class="card" layout="column" layout-align="center center" md-padding>
      <div class="performance" layout="column" layout-align="center center">
        <h2>Papertrade</h2>
        <table>
          <tr>
            <td>Strategy</td>
            <td>{{selectedFile.name}}</td>
          </tr>
          <tr>
            <td>Symbol</td>
            <td>{{selectedFile.ticker.symbol}}</td>
          </tr>
          <tr>
            <td>Shares</td>
            <td>{{selectedFile.shares}}</td>
          </tr>
          <tr>
            <td>Frequency</td>
            <td>{{selectedFile.trade_frequency}}</td>
          </tr>
        </table>
        <md-divider></md-divider>
      </div>
      <button href="" ng-click="togglePapertrade(ev)" ng-disabled="selectedFile.is_active=='ok'||selectedFile.is_active=='ko'" class="btn btn-primary btn-color">
        <p ng-if="selectedFile.is_active==false">Start Papertrade</p>
        <p ng-if="selectedFile.is_active=='ok'">Starting Papertrade ...</p>
        <p ng-if="selectedFile.is_active=='ko'">Stoping Papertrade ...</p>
        <p ng-if="selectedFile.is_active==true">Papertrade is runing</p>
      </button>
    </div>
  </div>
</div>
