<div flex class="container papertrade-section" layout="row" layout-align="center center">
  <div class="card md-whiteframe-1dp" layout="column" layout-align="center center" md-padding>
    <p>{{selectedFile.name}}</p>
    <p>{{selectedFile.ticker.symbol}}</p>
    <p>{{selectedFile.shares}}</p>
    <p>{{selectedFile.trade_frequency}}</p>
    <p>{{selectedFile.is_active}}</p>
    <a href="" ng-click="togglePapertrade(ev)" class="btn btn-primary btn-color">
      <p ng-if="selectedFile.is_active==false">Start Papertrade</p>
      <p ng-if="selectedFile.is_active!=false">Papertrade is runing</p>
    </a>
  </div>
</div>
