<div  class="editor-section" layout-gt-sm="row" layout="row">
  <div class="response-wrapper" flex-gt-sm="40" flex="100">
    <div class="response">
      <form name="userStrategiesForm" class="">
        <div class="breadcrumbs">
          <h3><span>Strategy</span><i class="ti-angle-right"></i>{{selectedFile}}</h3>
        </div>
        <md-autocomplete
          md-selected-item="selectedItem"
          md-selected-item-change="selectedItemChange(ticker)"
          md-search-text="searchText"
          md-items="ticker in getTickers(searchText)"
          md-item-text="ticker.symbol"
          placeholder="Search Ticker/Symbol"
          md-no-cache="true">
          <md-item-template>
              <span>{{ticker.symbol}}</span>
              <!-- <span md-highlight-text="searchText" md-highlight-flags="^i">{{ticker.exchange}}</span> -->
          </md-item-template>
          <md-not-found>
              No matches found.
          </md-not-found>
        </md-autocomplete>
        <div layout="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Shares</label>
            <input name="shares" ng-model="strategy.shares" placeholder="12345" required type="number">
            <div ng-messages="userStrategiesForm.shares.$error" role="alert">
              <div ng-message="required" class="my-message">You must supply a number.</div>
              <div ng-message="pattern" class="my-message">That doesn't look like a valid number.</div>
            </div>
          </md-input-container>
          <md-input-container class="md-block" flex-gt-sm>
            <label>Frequency</label>
            <md-select ng-model="strategy.frequency">
              <md-option ng-repeat="frequency in frequencies" value="{{frequency}}">
                {{frequency}}
              </md-option>
            </md-select>
          </md-input-container>
        </div>
        <div layout="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Stop Loss</label>
            <input name="loss" ng-model="strategy.loss" placeholder="10"
            required ng-pattern="/^[0-9]{1,7}$/"  md-minlength='1' md-maxlength="2">
            <div ng-messages="userStrategiesForm.loss.$error" role="alert" multiple>
              <div ng-message="required" class="my-message">You must supply Some precentage loss.</div>
              <div ng-message="pattern" class="my-message">
                That doesn't look like a valid precentage.
              </div>
              <div ng-message="md-maxlength" class="my-message">
                Precentage sould be less than 100
              </div>
            </div>
          </md-input-container>
          <md-input-container class="md-block" flex-gt-sm>
            <label>Profit Booking</label>
            <input name="profit" ng-model="strategy.profit" placeholder="10"
            required ng-pattern="/^[0-9]{1,7}$/"  md-minlength='1' md-maxlength="2">
            <div ng-messages="userStrategiesForm.profit.$error" role="alert" multiple>
              <div ng-message="required" class="my-message">You must supply Some precentage profit.</div>
              <div ng-message="pattern" class="my-message">
                That doesn't look like a valid precentage.
              </div>
              <div ng-message="md-maxlength" class="my-message">
                Precentage sould be less than 100
              </div>
            </div>
          </md-input-container>
        </div>
        <div class="code-execute-panel" layout="row" layout-align="center center">
          <a href="" class="btn btn-primary btn-color" ng-click="backTest()">Backtest</a>
          <a href="" class="btn btn-primary btn-color" ng-click="saveStrategy($event,strategy)">Save</a>
          <a href="" class="btn btn-primary btn-color" ng-click="addTerminal($event)">Add core</a>
          <!-- <md-select ng-model="selectedFile" md-selected-text="setSelectedFile()">
            <md-optgroup label="Files">
              <md-option ng-value="file.name" ng-repeat="file in userFiles">{{file.name}}</md-option>
            </md-optgroup>
          </md-select> -->
        </div>
      <form>
    </div>
  </div>
  <div class="convert-wrapper" flex-gt-sm="60" flex="100">
    <div id='text-editor' class="text-editor  md-whiteframe-1dp" ui-ace="{
        require: ['ace/ext/language_tools'],
        advanced: {
          enableBasicAutocompletion: true,
          enableLiveAutocompletion: true
        },
        onLoad: aceLoaded,
        onChange: aceChanged,
        theme:'dawn',
        mode: 'psylab'
      }">
    </div>
    <div ng-hide="hideterm2" id='text-editor-2' class="text-editor  md-whiteframe-1dp" ui-ace="{
        require: ['ace/ext/language_tools'],
        advanced: {
          enableBasicAutocompletion: true,
          enableLiveAutocompletion: true
        },
        onLoad: aceLoaded2,
        onChange: aceChanged2,
        theme:'dawn',
        mode: 'psylab'
      }">
    </div>
  </div>
</div>
<script>
  document.getElementById('text-editor').style.fontSize='16px';
  document.getElementById('text-editor-2').style.fontSize='16px';
  document.getElementById('code-convert').style.fontSize='16px';
</script>
<style>
  .ace-chrome .ace_support.ace_function{
    color: #1F8EED;
  }
  #text-editor-2{
    margin:20px 0;
  }
</style>
